<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>邓佩我喜欢你😍</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<style>
body {
	background-color: #f4f4f4;
	margin: 0px;
	overflow: hidden;
}
.LoR {
	height:205px;
	width:200px;
	overflow:hidden;
	position:absolute;
	top:50%;
	left:50%;
	margin:-102px auto auto -82px;
	z-index:2;
}
.pwd{
width:160px;

}
    .cc{
        width: 80%;
    line-height: 30px;
    margin: 0 auto;
    padding: 0px 15px 0px 15px;
    background-color: #f4f39e;
    -moz-border-radius-bottomleft: 20px 500px;
    -moz-border-radius-bottomright: 500px 30px;
    -moz-border-radius-topright: 5px 100px;
    -webkit-border-bottom-left-radius: 20px 500px;
    -webkit-border-bottom-right-radius: 500px 30px;
    -webkit-border-top-right-radius: 5px 100px;
    border-bottom-left-radius: 20px 500px;
    /* border-bottom-right-radius: 500px 30px; */
    border-top-right-radius: 5px 100px;
    background: -moz-repeating-linear-gradient( top, #f0f2f7, #f0f2f7 29px, #81cbbc 30px );
    background: -webkit-gradient( linear, left top, left bottom, from(#81cbbc), color-stop(2%, #f0f2f7) );
    background: repeating-linear-gradient( top, #f0f2f7, #f0f2f7 29px, #81cbbc 30px );
    -webkit-background-size: 100% 30px;
    -moz-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.2);
    text-shadow: 0 1px 0 #F6EF97;
    position: relative;
    }
#bo p{margin-bottom:0px;}
</style>

<script type="text/javascript" src="/static/js/three.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-1.11.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/index.css" />
<link rel="stylesheet" type="text/css" href="/static/plugins/static/h-ui/css/H-ui.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<p>
<audio autoplay="autoplay" id="mp">
<source src="http://orfsxjst1.bkt.clouddn.com/855634.mp3" type="audio/mpeg">
</audio>
<div id="bo" style="display: none;" class="cc">
    佩：</br>
    <p>认识你<span id="count"></span>天了，大半年已经过去了，我想告诉你我的想法和感受.，刚过来的那段时间，我感觉挺好的，
    至少你能分享些事给我，我记得当初。你说你妈看中的80%你都看不中，我觉得那段时间应该上升到50%了😀；</p>
    <p>那段时间我也不知道怎么被我搞的好尴尬，我总是问你放假不，因为放假了我就能来找你了，我想每周都能去看看你，
        那段时间我们项目也不忙；或许我只站在自己的观念中来看待你，却并没思考你在创业，你在项目中所担任的角色，所要承担的责任；
        打电话的时候，感觉什么话都被你一句带过，我想跟你多说些话，话一多结果就....😞😞，我这一个实实在在的理工男情商本一般，
        在女神面前直接为零了。🙄</p>
    <p>那段时间我确实太着急了，可能得了点好处就得意忘形了，不知道自己是谁了，哈哈😜，或许你能理解，也可能不理解，
        很喜欢一个人满脑子都是那个人吧；从这之后感觉在你心里的印象差了很多，微信有时没回，有时就简单几个字；第三次去见你，
        其实我也提前告诉你了，走的那天我也问你要了地址，不知道是你不想见，还是真的无视，你始终没告诉我你地址，
        应该是不想见吧，我不能以我的心思去揣测你的想法，只要你没拒绝，我就用勇敢的去做，那天我们待一起的时间一个小时多一点吧，
        跟你说话的时间半个小时都没有， 走在一起你在打电话，坐在一起你在玩手机，我本来很多话想说的，看着你疲惫厌倦的表情，
        我也不知道怎么说了，只能静静的看着你；可能我问问题方式也不对吧，我并不但是单纯的想知道你的目标到底是什么，
        我想基于这个问题去了解你的想法，也分享我的目标和想法给你，让你也能够了解我是什么样的人；</p>
    <img height="450" src="http://orfsxjst1.bkt.clouddn.com/pei.png"/>
    <p>生活中真实的你应该是这样子的吧，爱笑，乐观，我很喜欢看这张照片，我很想面对的是这样一个真实的你，
我也是一个爱笑的人，我喜欢和爱笑的人相处，和他们相处会很开心，我也是一个典型的程序猿，技术宅，喜欢去学习研究各种技术；
        喜欢安静的工作和学习环境，这样不会被人打断思路，不怎么爱说话😂 ；喜欢健身运动，每天都能精力充沛的去工作。
认识你大半年了，在我印象中，你没有在我们面前笑过，也没有问过我一个问题，我知道对于一个不感兴趣的人，也确实没有想法没有心思去了解他。</p>
    <p>佩，你知道我最喜欢你哪吗？我很喜欢你这样一个独立，有拼劲的女孩，当然你也很漂亮，可能别人拼是为了一个好的事业，我努力我想给身边人更好的生活，从农村走出来，我亲眼见证父母以前有多辛苦，我工作了，我就要担起责任，他们年纪大了， 我也不想让他们为我操心。</p>
    <p>遇见你就是最好的，我想的另一半是一个善良，乐观，像你一样有拼劲的，这不就是你吗，大半年的时间已经过去了，我不知道为什么这样了，
好长时间没联系你了，我想了又想不知道该怎么做，才能让你敞开心，用真实的邓佩面对我。写给你我半年最真实的想法，这是我能想到最笨的办法了，
        我不知道我在你心里是什么样，是朋友，刚认识的普通人，还是一个让你厌烦的的人。</p>
<p>你有喜欢的人、或还有更优秀的人追你、或我的能力和颜值不够，这些你都可以拒绝我，但是其他的你应该给我一个机会，以最真实的邓佩面对我，我会努力的做好💪；我知道你想在这段时间做好自己的事业，但是这并不冲突，
    我更愿意同你一起去努力，结婚也不是到了这个年纪就该结，当你遇到一个你愿意陪伴而他也愿意保护你一生的人，就快到结婚的时候了。</p>
</br>
<p>
    <span style="color:red;">佩，我喜欢你，我想陪你走过最美的青春，我想去保护你,我想和你一起努力创造更多。🌹🌹🌹</span>
</p>
</div>
</br>
<script type="text/javascript">

var container;
var camera, scene, projector, renderer;

var PI2 = Math.PI * 2;

var programFill = function ( context ) {

	context.beginPath();
	context.arc( 0, 0, 1, 0, PI2, true );
	context.closePath();
	context.fill();

}

var programStroke = function ( context ) {

	context.lineWidth = 0.05;
	context.beginPath();
	context.arc( 0, 0, 1, 0, PI2, true );
	context.closePath();
	context.stroke();

}

var mouse = { x: 0, y: 0 }, INTERSECTED;

init();
animate();

function init() {

	container = document.createElement( 'div' );
	container.id = 'bgc';
	container.style.position = 'relative';
	container.style.zIndex = '0';
	document.body.appendChild( container );

	camera = new THREE.PerspectiveCamera( 70, window.innerWidth / window.innerHeight, 1, 10000 );
	camera.position.set( 0, 300, 500 );

	scene = new THREE.Scene();

	for ( var i = 0; i < 100; i ++ ) {

		var particle = new THREE.Particle( new THREE.ParticleCanvasMaterial( { color: Math.random() * 0x808080 + 0x808080, program: programStroke } ) );
		particle.position.x = Math.random() * 800 - 400;
		particle.position.y = Math.random() * 800 - 400;
		particle.position.z = Math.random() * 800 - 400;
		particle.scale.x = particle.scale.y = Math.random() * 10 + 10;
		scene.add( particle );

	}

	projector = new THREE.Projector();

	renderer = new THREE.CanvasRenderer();
	renderer.setSize( window.innerWidth, window.innerHeight );

	container.appendChild( renderer.domElement );



	document.addEventListener( 'mousemove', onDocumentMouseMove, false );

	//

	window.addEventListener( 'resize', onWindowResize, false );

}

function onWindowResize() {

	camera.aspect = window.innerWidth / window.innerHeight;
	camera.updateProjectionMatrix();

	renderer.setSize( window.innerWidth, window.innerHeight );

}

function onDocumentMouseMove( event ) {

	event.preventDefault();

	mouse.x = ( event.clientX / window.innerWidth ) * 2 - 1;
	mouse.y = - ( event.clientY / window.innerHeight ) * 2 + 1;

}

//

function animate() {

	requestAnimationFrame( animate );

	render();

}

var radius = 600;
var theta = 0;

function render() {

	// rotate camera

	theta += 0.2;

	camera.position.x = radius * Math.sin( theta * Math.PI / 360 );
	camera.position.y = radius * Math.sin( theta * Math.PI / 360 );
	camera.position.z = radius * Math.cos( theta * Math.PI / 360 );
	camera.lookAt( scene.position );

	// find intersections

	camera.updateMatrixWorld();

	var vector = new THREE.Vector3( mouse.x, mouse.y, 0.5 );
	projector.unprojectVector( vector, camera );

	var ray = new THREE.Ray( camera.position, vector.subSelf( camera.position ).normalize() );

	var intersects = ray.intersectObjects( scene.children );

	if ( intersects.length > 0 ) {

		if ( INTERSECTED != intersects[ 0 ].object ) {

			if ( INTERSECTED ) INTERSECTED.material.program = programStroke;

			INTERSECTED = intersects[ 0 ].object;
			INTERSECTED.material.program = programFill;

		}

	} else {

		if ( INTERSECTED ) INTERSECTED.material.program = programStroke;

		INTERSECTED = null;

	}

	renderer.render( scene, camera );

}
Date.prototype.format = function(fmt) {
     var o = {
        "M+" : this.getMonth()+1,                 //月份
        "d+" : this.getDate(),                    //日
        "h+" : this.getHours(),                   //小时
        "m+" : this.getMinutes(),                 //分
        "s+" : this.getSeconds(),                 //秒
        "q+" : Math.floor((this.getMonth()+3)/3), //季度
        "S"  : this.getMilliseconds()             //毫秒
    };
    if(/(y+)/.test(fmt)) {
            fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));
    }
     for(var k in o) {
        if(new RegExp("("+ k +")").test(fmt)){
             fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
         }
     }
    return fmt;
}
</script>

<div class="LoR">
    <input id="pwd" class="input-text radius" style="width:150px;" type="password" name="pwd" />
    <i class="fa fa-chevron-circle-right fa-3x " style="cursor:pointer;margin-left:10px;vertical-align:middle;color:#3bb4f2;" onclick="abs()"></i>
</div>
<div>
<script>
    function audioAutoPlay(id){
                var audio = document.getElementById(id);
                    audio.play();
                document.addEventListener("WeixinJSBridgeReady", function () {
                    audio.play();
                }, false);
                document.addEventListener('YixinJSBridgeReady', function() {
                    audio.play();
                }, false);
            }
    audioAutoPlay('mp');
    $(document).keydown(function (event) {
        if(event.keyCode == 13){
            abs();
        }else if(event.key == 123){
            return false;
        }else if((event.ctrlKey) && (event.shiftKey) && (event.keyCode == 73)){
            return false;
        }else if((e.shiftKey) && (e.keyCode == 121)){
            return false;
        }
        document.oncontextmenu = function() {
            return false;
        }
    })
    function abs() {
        var pwd = $("#pwd").val();
        if(pwd== 19941014){
           $("#bgc").remove();
           $(".LoR").remove();
           $("#bo").css("display","block");
           $("#count").text(GetDateDiff('2017-2-3',new Date().format("yyyy-MM-dd")))
        }
    }
    function GetDateDiff(startDate,endDate)
    {
    var startTime = new Date(Date.parse(startDate.replace(/-/g,   "/"))).getTime();
    var endTime = new Date(Date.parse(endDate.replace(/-/g,   "/"))).getTime();
    var dates = Math.abs((startTime - endTime))/(1000*60*60*24);
    return  dates;
    }


</script>
</body>
</html>
