<!DOCTYPE HTML>
<HTML>
	<TITLE>小茗同学</TITLE>
	<head>
    <link rel = "Shortcut Icon" href=/static/images/head1.png>
	{% include 'head.html' %}
	<link rel="stylesheet" type="text/css" href="/static/css/weather/style.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/animate.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/tab.css" />
	<script type="text/javascript" src="/static/js/index.js"></script>
	<script type="text/javascript" src="/static/js/canvas-particle.js"></script>
	<script type="text/javascript" src="/static/js/roll/prototype.js"></script>
	<script type="text/javascript" src="/static/js/roll/ImageSlide.js"></script>
	<script type="text/javascript" src="/static/js/jquery.niceHover.js"></script>
	<link rel="stylesheet" href="../static/css/a.css" type="text/css"/>
	</head>
<body>
{% include 'nav.html' %}
{% load staticfiles %}
{% load my_tag %}
<div class="con">
	<div class="row_content" style="overflow: auto;">
		<div class="left_content">
			<!--滚动横幅-->
			<div id="focusImage" class="slide">
				<ul class="contents">
					<li class="current">
						<div class="image"><a href="#"><img src="/static/images/a.jpg" width="600" height="282"></a></div>
						<div class="text">
							<span class="title"><a href="#">小水管哭了！《战争机器4》总容量已超100GB</a></span>
							<p>《战争机器4》在刚推出之时，在Win10平台上的容量就已经达到了惊人的73GB，这次让《战争机器4》总容量超过100GB的更新文件，是来自情人节期间的新内容。</p>
						</div>
					</li>
					<li>
						<div class="image"><a href="#"><img src="/static/images/b.jpg" width="600" height="282"></a></div>
						<div class="text">
							<span class="title"><a href="#">《无冬OL》5月19日停运 主机版不受影响</a></span>
							<p>近日，完美宣布《无冬OL》将于2017年5月19日正式停运，在关闭服务器后，官方会将玩家的充值返还到完美钱包或银行账户中。同时，官方强调称本次的停服针对中国区的服务器，主机版不受影响。</p>
						</div>
					</li>
					<li>
						<div class="image"><a href="#"><img src="/static/images/c.jpg" width="600" height="282"></a></div>
						<div class="text">
							<span class="title"><a href="#">《丧尸围城4》评价不佳？卡普空：上手度太低</a></span>
							<p>与迄今为止的系列相比，《丧尸围城4》让更多的玩家能够轻松上手，但新游戏收到的意见更加宽泛。在未来Capcom打算通过发布额外的数字下载内容来持续增加游戏销量。</p>
						</div>
					</li>
					<li>
						<div class="image"><a href="#"><img src="/static/images/d.jpg" width="600" height="282"></a></div>
						<div class="text">
							<span class="title"><a href="#">国外暴雪玩家3D打印《星际争霸2》虫族单位</a></span>
							<p>近日，暴雪游戏死忠粉3D打印设计师Francesco Orrù通过建模软件ZBrush与3D打印，完成自己的《星际争霸2》3D打印作品新作，让我们来一同鉴赏。</p>
						</div>
					</li>
					<li>
						<div class="image"><a href="#"><img src="/static/images/e.jpg" width="600" height="282"></a> </div>
						<div class="text">
							<span class="title"><a href="#">索尼：希望推出《地平线：黎明时刻》续作</a></span>
							<p>距离《地平线：黎明时刻》的发售还有不到2周时间，但索尼似乎正在找寻为其推出续作的可能，并希望其能成为一款旗下代表性系列作品，对于这部作品报以高期待。</p>
						</div>
					</li>
				</ul>

				<div class="triggers">
					<a href="javascript:;" class="cur current"><img src="/static/images/a.jpg" width="78" height="38"></a>
					<a href="javascript:;"><img src="/static/images/b.jpg" width="70" height="38"></a>
					<a href="javascript:;"><img src="/static/images/c.jpg" width="70" height="38"></a>
					<a href="javascript:;"><img src="/static/images/d.jpg" width="70" height="38"></a>
					<a href="javascript:;"><img src="/static/images/e.jpg" width="70" height="38"></a>
				</div>

				<div class="icon-dot">
					<a href="javascript:;" class="cur current"></a>
					<a href="javascript:;"></a>
					<a href="javascript:;"></a>
					<a href="javascript:;"></a>
					<a href="javascript:;"></a>
				</div>

				<span class="link-watch pre down"></span>
				<span class="link-watch next down"></span>
			</div>
			<!--滚动横幅结束-->
			<!--文章列表-->
			<!--1-->


			<div class="article">
                <!--推荐-->
				<div class="recommend_article">
					{% get_hots as har %}
                    <a href="/blog/{{har.id}}/article/" class="user_defined_item red" ><i class="fa fa-angle-double-right"></i><span>【热点】{{ har.title }}</span></a>
                </div>
				<div class="article-con">
                    {% if Articles %}
                    {% for title in Articles %}
					<dl class="blog_list clearfix">
                        <dt>
                            <a href="/blog/{{title.id}}/article/" target="_blank"><img width="150" height="100" src="/media/upload/{{title.image}}" class="head"></a>
                            <span>{{title.author}}</span>
                        </dt>
                        <dd>
                            <h3 class="tracking-ad" data-mod="popu_254"><a href="/blog/{{title.id}}/article/" target="_blank">{{title.title}}</a></h3>
							<div class="blog_list_c">{{title.intro}}</div>
                            <div class="blog_list_b clearfix">
                                <div class="blog_list_b_l f-l">
                                    <span><i class="fa fa-list-ul"></i><a href="/blog/{{title.category}}/cate/" target="_blank">{{title.category}}</a></span>
                                    <!--<span><img src="" alt="img"><a href="/column/details/14549.html" target="_blank">CSDN日报</a></span>-->
                                </div>
                                <div class="blog_list_b_r f-r">
                                    <span>{{title.publishDate|date:'Y-m-d'}}</span><span><i class="fa fa-eye"></i><em>{{title.readCount}}</em></span>
                                </div>
                            </div>
                        </dd>
                    </dl>
                    {% endfor %}
                    {% else %}
                    <dl class="blog_list clearfix" style="text-align: center;color:#ff0007;">暂无更多文章,请关注其它文章.......</dl>
                    {% endif %}
				</div>
			</div>


			<!--分页插件-->
            {% if pageCount %}
            <div id="page" class="page" style="margin-top:40px;padding-top:8px;text-align:center;background: #fff;">
            </div>
            {% endif %}
		</div>
    <!--
        -->
		<div class="right_content">
			<div class="container1" style="margin:0 auto;">
				<svg id="back">
					<radialGradient id="SVGID_1_" cx="0" cy="0" r="320.8304" gradientUnits="userSpaceOnUse">
						<stop  offset="0" style="stop-color:#FFDE17;stop-opacity:0.7"/>
						<stop  offset="1" style="stop-color:#FFF200;stop-opacity:0"/>
					</radialGradient>
					<path id="sunburst" style="fill:url(#SVGID_1_);" d="M0,319.7c-18.6,0-37.3-1.6-55.5-4.8L-7.8,41.4c5.1,0.9,10.6,0.9,15.7,0L56,314.8C37.6,318,18.8,319.7,0,319.7z
						 M-160.8,276.6c-32.5-18.8-61.3-42.9-85.5-71.6L-34,26.2c3.4,4.1,7.4,7.4,12,10.1L-160.8,276.6z M161.3,276.4L22.1,36.2
						c4.5-2.6,8.6-6,12-10.1l212.6,178.5C222.5,233.4,193.8,257.6,161.3,276.4z M-302.5,108.3C-315.4,73-321.9,36-322-1.8l277.6-0.5
						c0,5.3,0.9,10.4,2.7,15.2L-302.5,108.3z M302.6,107.8L41.8,12.8c1.7-4.7,2.6-9.7,2.6-14.9c0-0.3,0-0.6,0-1H322l0-1.3l0,1.9
						C322,35.4,315.5,72.5,302.6,107.8z M-41.8-17.5l-261-94.5c12.8-35.4,31.6-68,55.8-96.9L-34.1-30.8C-37.5-26.8-40.1-22.3-41.8-17.5z
						 M41.7-17.7c-1.8-4.8-4.4-9.3-7.8-13.3l212-179.2c24.3,28.8,43.3,61.3,56.3,96.6L41.7-17.7z M-22.2-40.8l-139.6-240
						c32.7-19,68.1-32,105.2-38.6L-8-46.1C-13-45.2-17.8-43.4-22.2-40.8z M22-40.9c-4.4-2.6-9.2-4.3-14.2-5.1l47.1-273.6
						c37.2,6.4,72.7,19.2,105.4,38L22-40.9z"/>
				</svg>
				<div id="card" class="weather" style="margin:0 auto;">
					<svg id="inner">
						<defs>
							<path id="leaf" d="M41.9,56.3l0.1-2.5c0,0,4.6-1.2,5.6-2.2c1-1,3.6-13,12-15.6c9.7-3.1,19.9-2,26.1-2.1c2.7,0-10,23.9-20.5,25 c-7.5,0.8-17.2-5.1-17.2-5.1L41.9,56.3z"/>
						</defs>
						<circle id="sun" style="fill: #F7ED47;" cx="0" cy="0" r="50"/>
						<g id="layer3"></g>
						<g id="cloud3" class="cloud"></g>
						<g id="layer2"></g>
						<g id="cloud2" class="cloud"></g>
						<g id="layer1"></g>
						<g id="cloud1" class="cloud"></g>
					</svg>
					<div class="details">
						<div class="temp">{{Weather.temperature_curr}}<span>℃</span><br/><span>{{Weather.location}}</span></div>
						<div class="right" style="float:right">
							<div id="date">{{Weather.day}}</div>
							<div id="date">{{Weather.week}}</div>
							<div id="summary">{{Weather.weather}}</div>
						</div>
					</div>
				</div>
				<svg id="outer"></svg>
			</div>
			<!-- 今日头条 -->
			<div class="widget widget-headline">
				<div class="widget-inner">
					<a class="style02" href="http://toutiao.com/i6327921793755513346/" target="_blank">
					<strong><i class="fa fa-globe"></i>今日头条</strong>
					{% getDailySentence as daily %}
					<h4>{{ daily.title }}</h4>
					<p>{{ daily.dailycontent }}</p></a>
				</div>
			</div>
			<!-- 最新文章 -->
			<div class="widget widget-headline">
				<div class="widget-inner">
					<a class="style02" target="_blank">
					<strong><i class="fa fa-navicon"></i>最新文章</strong>
					</a>
					<div class="widget-inner-list">
                        {% getLasestArticle as latestArticle %}
						<ul>
                            {% for latestArc in latestArticle %}
                            {% if latestArc.readCount <= 100 %}
                            <li>
                                <a href="/blog/{{latestArc.id}}/article/" target="_blank" class="text-overflow va-m">{{ latestArc.title }}</a>
                                <span class="badge badge-primary radius f-r readcount">{{ latestArc.readCount }}</span>
                            </li>
                            {% elif latestArc.readCount > 100 and latestArc.readCount <= 200 %}
                            <li>
                                <a href="/blog/{{latestArc.id}}/article/" target="_blank" lass="text-overflow va-m">{{ latestArc.title }}</a>
                                <span class="badge badge-secondary radius f-r readcount">{{ latestArc.readCount }}</span>
                            </li>
                            {% elif latestArc.readCount > 200 and latestArc.readCount <= 300 %}
                            <li>
                                <a href="/blog/{{latestArc.id}}/article/" target="_blank" class="text-overflow va-m">{{ latestArc.title }}</a>
                                <span class="badge badge-success radius f-r readcount">{{ latestArc.readCount }}</span>
                            </li>
                            {% elif latestArc.readCount > 300 and latestArc.readCount <= 500 %}
                            <li>
                                <a href="/blog/{{latestArc.id}}/article/" target="_blank" class="text-overflow va-m">{{ latestArc.title }}</a>
                                <span class="badge badge-warning radius f-r readcount">{{ latestArc.readCount }}</span>
                            </li>
                            {% else %}
                            <li>
                                <a href="/blog/{{latestArc.id}}/article/" target="_blank" class="text-overflow va-m">{{ latestArc.title }}</a>
                                <span class="badge badge-danger radius f-r readcount">{{ latestArc.readCount }}</span>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
					</div>
				</div>
			</div>
			<!-- 最新评论 -->
			<div class="widget widget-headline widget-comment">
				<div class="widget-inner">
					<a class="style02" href="http://toutiao.com/i6327921793755513346/" target="_blank">
					<strong><i class="fa fa-comments-o"></i>最新评论</strong>
					</a>
					<div class="widget-inner-list" style="min-height: 200px;">
						<div style="text-align: center;padding-top: 50px;">开发中。。。。</div>
					    <ul style="display: none">
                            <li>
                                <img class="round" src="/static/images/a.jpg" width="40" height="40"/>
                                <span class="comment-log va-m text-overflow">一般windows10下面不会有这个</span>
                            </li>
                            <li>
                                <img class="round" src="/static/images/a.jpg" width="40" height="40"/>
                                <span class="comment-log va-m text-overflow">楼主博客不错，大赞</span>
                            </li>
                            <li>
                                <img class="round" src="/static/images/a.jpg" width="40" height="40"/>
                                <span class="comment-log va-m text-overflow">我想问下你这个地方是怎么实现的</span>
                            </li>
                            <li>
                                <img class="round" src="/static/images/a.jpg" width="40" height="40"/>
                                <span class="comment-log va-m text-overflow">啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</span>
                            </li>
                            <li>
                                <img class="round" src="/static/images/a.jpg" width="40" height="40"/>
                                <span class="comment-log va-m text-overflow">也许就是这样的吧</span>
                            </li>
                        </ul>
					</div>
				</div>
			</div>
			<!--标签云-->
            <div class="widget widget-headline widget-tag">
				<div class="widget-inner">
					<a class="style02" href="http://toutiao.com/i6327921793755513346/" target="_blank">
					<strong><i class="fa fa-snowflake-o"></i>发现</strong>
					</a>
					<div class="widget-inner-tag">
                        {% getTag as tagList %}
                        {% for tag in tagList %}
                        {% if tag.labelColor == '1' %}
                        <span class="tag color-1" data-id="54">{{ tag.labelName }} ({{ tag.count }})</span>
                        {% elif tag.labelColor == '2' %}
                        <span class="tag color-2" data-id="54">{{ tag.labelName }} ({{ tag.count }})</span>
                        {% elif tag.labelColor == '3' %}
                        <span class="tag color-3" data-id="54">{{ tag.labelName }} ({{ tag.count }})</span>
                        {% elif tag.labelColor == '4' %}
                        <span class="tag color-4" data-id="54">{{ tag.labelName }} ({{ tag.count }})</span>
                        {% elif tag.labelColor == '5' %}
                        <span class="tag color-5" data-id="54">{{ tag.labelName }} ({{ tag.count }})</span>
                        {% elif tag.labelColor == '6' %}
                        <span class="tag color-6" data-id="54">{{ tag.labelName }} ({{ tag.count }})</span>
                        {% endif %}
                        {% endfor %}
					</div>
				</div>
			</div>

			<div id="tabs" class="widget">
				<ul class="widget-nav">
					<li class="aa" id="1"><a href="#tabs-1" title="">关于本站</a></li>
					<li class="aa" id="2"><a href="#tabs-2" title="">友情链接</a></li>
				</ul>
				<div id="tabs_container">
					<div id="tabs-1">
						<p><img class="head" style="width:100px;height:100px;border-radius:50%;display: block;margin:0 auto;"  src="/static/images/b.jpg"/>
							<span style="padding:10px 10px 10px 10px;text-align: center;">本博客基于Django搭建，在这里记录和分享学习的东西</span>
						</p>
					</div>
					<div id="tabs-2" class="friendslink">
                        <li><a href="http://www.my-eclipse.cn" rel="me" target="_blank">MyEclipse中文网</a></li>
                        <li><a href="http://www.my-eclipse.cn" rel="me" target="_blank">MyEclipse中文网</a></li>
                        <li><a href="http://www.my-eclipse.cn" rel="me" target="_blank">MyEclipse中文网</a></li>
					</div>
				</div>
			</div>

			<!-- end -->
		</div>
        <div style="clear: both;"></div>
	</div>
</div>
<div class="loader" style="background-color: #fff"></div>
{% include 'footer.html' %}

<!-- 天气插件必须放最后 -->
<script type="text/javascript">
{% if pageCount %}
blog.index.pagination({{pageCount|safe}},{{currPage|safe}});
{% endif %}
//加载天气信息
var weather = [{ type:'{{Weather.tag}}', name: 'Snow'}];
// initWeather(weather);
var $backToTopEle=$('<a href="javascript:void(0)" class="Hui-iconfont toTop" title="返回顶部" alt="返回顶部" style="display:none">&#xe684;</a>').appendTo($("body")).click(function(){
$("html, body").animate({ scrollTop: 0 }, 220);
});
var backToTopFun = function() {
	var st = $(document).scrollTop(), winh = $(window).height();
	(st > 0)? $backToTopEle.show(): $backToTopEle.hide();
	/*IE6下的定位*/
	if(!window.XMLHttpRequest){
		$backToTopEle.css("top", st + winh - 166);
	}
};
$(function(){
    $(window).load(function() {
        $(".loader").fadeOut("slow");
    });
	//$("#slider-3 .slider").slide({mainCell:".bd ul",titCell:".hd li",trigger:"click",effect:"leftLoop",autoPlay:true,delayTime:700,interTime:7000,pnLoop:false,titOnClassName:"active"});
    $(window).on("scroll",backToTopFun);
    backToTopFun();
	$('#tabs').tabulous({
    	effect: 'scale'
    });
	new ImageSlide({project:"#focusImage",content:".contents li",tigger:".triggers a",	dot:".icon-dot a",watch:".link-watch",auto:!0,hide:!0});
	var config = {
		vx: 4,
		vy:  4,
		height: 2,
		width: 2,
		count: 100,
		color: "121, 162, 185",
		stroke: "100,200,180",
		dist: 6000,
		e_dist: 20000,
		max_conn: 10
	};
	CanvasParticle(config);
});
</script>
</body>
</HTML>
