{% load my_tag %}
<ul>
{% getTag as tagList %}
{% for tag in tagList %}
    <li><a>{{ tag.labelName }}</a><span>({{ tag.count }})</span></span></li>
{% endfor %}
</ul>
<!--{% getTag as tagList %}
    {% for tag in tagList %}
    {% if tag.labelColor == '1' %}
    <span class="tag color-1" data-id="54">{{ tag.labelName }} ({{ tag.count }})</span>
    {% elif tag.labelColor == '2' %}
    <span class="tag color-2" data-id="54">{{ tag.labelName }} ({{ tag.count }})</span>
    {% elif tag.labelColor == '3' %}
    <span class="tag color-3" data-id="54">{{ tag.labelName }} ({{ tag.count }})</span>
    {% elif tag.labelColor == '4' %}
    <span class="tag color-4" data-id="54">{{ tag.labelName }} ({{ tag.count }})</span>
    {% elif tag.labelColor == '5' %}
    <span class="tag color-5" data-id="54">{{ tag.labelName }} ({{ tag.count }})</span>
    {% elif tag.labelColor == '6' %}
    <span class="tag color-6" data-id="54">{{ tag.labelName }} ({{ tag.count }})</span>
    {% endif %}
    {% endfor %}-->
<style>
  .widget-inner-tag  ul{margin-right: 20px;color:#666e80;font-size: 13px;
  font-family: miranafont,"Hiragino Sans GB",STXihei,"Microsoft YaHei",SimSun,sans-serif;}
  .widget-inner-tag  ul a{text-decoration: none;color:#666e80;}
   .widget-inner-tag  ul a:hover{color:#06c;}
  .widget-inner-tag ul li{line-height: 40px;border-bottom: 1px solid #e6eaf2;}
 .widget-inner-tag ul li span{float: right}

</style>
