
#tabs_container {
    padding: 10px 5px;
    position: relative;
    background: white;
    overflow: hidden;
}

#tabs_container div {
    margin-right: 10px;
}
.tabBar{
    height: 35px;
    line-height: 35px;
    background: #fbfbfb;
    border-bottom: 1px solid #eaeaea;

}
.tabBar span{background:#fbfbfb;font-weight: normal;border-right:1px solid #eaeaea;
    height: 35px;line-height: 35px;
font-family: "Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,tahoma,arial,"WenQuanYi Micro Hei",Verdana,sans-serif,"\5B8B\4F53";
    font-size: 12px;
}
.tabBar span.current{
    background: #fff;
    color:#333;
    border-bottom: 1px solid #fff;
}
